section {
    display: flex;
    flex-direction: column;
}

section article {
    border: 0.2em solid black;
    margin-top: 0.5em;
    margin-left: 0.5em;
    width: 50vw;
}

section article > h4 {
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: 0.5%;
    margin-right: 0.5%;
}
